name: Security Scanning Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  semgrep_sast_scan:
    name: Semgrep SAST Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep Scan
        run: |
          docker run --rm -v "$(pwd):/src" semgrep/semgrep semgrep scan /src --json -o semgrep-results.json

      - name: Pretty-print Semgrep JSON
        run: jq . semgrep-results.json

      - name: Upload Semgrep results
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-results
          path: semgrep-results.json

